body {
    background-color: rgb(56, 1, 60);
}

td {
    border: 2px solid block;
    margin: 5px;
    color: aliceblue;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

tr {
    background-color: #070bfa;
}

.tab {
    background-color: rgb(248, 6, 180);
}

th {
    border: 2px solid blue;
    color: azure;
    margin: 5px;
    font-size: 25px;
}

h1 {
    text-align: center;
    color:#fff
}